.container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 0;
}
h1 {
  text-align: center;
  color: blue;
}

.day-name {
  color: rgb(0, 0, 0);
  background: rgb(228, 144, 75);
  font-weight: bold;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(117, 249, 227);
  grid-template-columns: repeat(7, 1fr);
}
